
/* Global  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.logo img {
    width: 200px;
    height: auto;
}

.navbarlist {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}

.navbarright {
    display: flex;
    gap: 1rem;
}

.login, .getstarted {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 30px;
    font-size: 1rem;

    
}

.login {
    background-color: #ddd;
}

.getstarted {
    background-color: black;
    color: white;
}




/* Header Section */
.header {
    
    width: 100%;
    display: flex;
    flex-direction: column;

    

    height: 100vh;
    
    background-image: url(image/Rectangle\ 1.png);
    
    height: 100vh;
    
    align-items: center;
    justify-content: center;

}




.form {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    width: 90%;
    height: 55%;
    max-width: 1160px;
    gap: 1rem;
    background-color: white;
    
    border-radius: 10px;
    
}
*/

.formheader {
    text-align: center;
    font-size: 1.5rem;
   
} 
.formheader h3{
    font-size: 3rem;
    margin-bottom: 1rem;
}


.formdata{
   /* display: grid;
    grid-template-columns: repeat(4,1fr);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 1rem;
   
    
    
     & div{display: flex;
        
         gap: 8rem;
         border-radius: 12px;
         height: 3.125rem;
         width: 15rem;
         padding: 1rem;
         
         
         align-items: center;
         justify-content: center;
 
         
        
         
         background-color: #ddd;
         & select{
            background-color: #ddd;
            border: none;
         }
         
     }
}



.formdown{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
   
    & input{height: 50px;
    width: 47rem;
    background-color: #ddd;
    border-radius: 12px;
    text-align: center;
    border: none;
    outline: none;
    
   
    }
    & button{
        width: 15rem;
        height: 49px;
        border-radius: 30px;
        background-color: #00EBC7;
        border: none;
        font-size: 22px;
        font-weight: 20;
    }

}


.imagedown{
    & button{
        margin-top: 6rem ;
        margin-left: 562p;
        
        padding: 0.7rem 1.55rem ;
        border: 1.5px solid #FFFFFF;
        border-radius: 30px;
        text-align: center;
        
        background: transparent;
        text-decoration: underline;
        color: white;
        font-size: 1.5rem;}
    }
/* Yellow Section */
.yellowsection {
    width: 100%;
    padding: 2rem;
    background-color: yellow;
    text-align: center;
    margin-top: -3.25rm;
    height: 23.125rem;
}

.yellowdiv {

    display: flex;
    flex-direction: column;
    gap: 4rem;
    border: 1px 0px solid black;
}
.p{
    & p{
        font-size: 2.125rem;
        text-align: center;
        margin-top: 1rem;
       
    }}

.yellowdiv img {
    width: 100%;
    max-width: 1020px;
    height: auto;
    margin: 0 auto;
}

/* Feature Section */
.featuresection {
    width: 100%;
    padding: 2rem;
    
    justify-content: center;
}

.feature {
    display: grid;
    grid-template-columns: repeat(auto-fit, 

minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.feature div {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.featurebutton{
    display: flex;
    justify-content: center;
}

.featurebutton button {
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    border: 1.5px solid black;
    border-radius: 30px;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    
}

/* Buy and Sell Section */
.buysell {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    background-color: #ddd;
}

.buy, .sell {
    width: 50%;
    display: flex;
    flex-direction: column;
    
    
}

.buyproduct {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(15px, 1fr));
    gap: 1rem;
}

.buyproduct div {display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buybutton button, .sellbutton {
    width: 100%;
    padding: 0.5rem;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

/* Violet Section */
.violet {
    width: 100%;
    padding: 2rem;
    background-color: #CFBAFF;
    text-align: center;
}


.violet p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.violetsectionbutton button {
    padding: 0.5rem 1rem;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

/* Footer Section */
.footer {
    width: 100%;
    padding: 2rem;
    background-color: black;
    color: white;
    text-align: center;

}

.footerdetail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.copyright {
    margin-top: 2rem;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: .5;
    }

    .navbarlist {
        flex-direction: column;

        align-items: center;
    }

    .form {
        height: fit-content;
        position: static;
        transform: none;
        margin-top: 1rem;
        grid-template-columns: 1fr;
        
    }

    .formdata {
        grid-template-columns: 1fr;
    }
    .formdown{
        & input{
            width: 15rem;

        }
        
    }

    .feature, .buyproduct {
        grid-template-columns: 1fr;
    }

    .violet p {
        font-size: 1.5rem;
    }
    .buysell{
        flex-direction: column;
        
    }
    .buyproduct{
        margin-left: 0px;
        & div{
            width: 90vw;
            margin-left: -3vw;
        }
    }
            
            
       
}
    






/*random respomse*/
@media (max-width:845px) {
    .formdown{
        & input{
            width: 15rem;
        }
    }
    
}
@media (max-width:285px){
    .formdown{
        & input{
            width: 50vw;
        }
        & button{
            width: 50vw;
        }
    }
    .formdata{
        & div{
            width: 50vw;
            gap: 1vw;
        }
    }
    
}
@media (max-width:370px) {
    
.buyproduct{
        margin-left: 0px;
        & div{display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: vw;
            margin-left: -9vw;
        }
    
}
}
@media (max-width:230px) {
    .navbarright{
        display: flex;
    flex-direction:column ;
    }
    
}
@media (max-with:200px) {
    .buyproduct{
        margin-left: 0px;
        & div{display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            
            margin-left: -9vw;
            font-size: 5rem;
        }
    
}
    
}
@media (max-width:380px) {
    .imagedown{
        margin-top: -6rem;
        & button{
            font-size: 10px;
            padding: 0px;
        }
    }
}